name: Build

on:
  pull_request:
    branches:
      - develop

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout the repository
      uses: actions/checkout@master
    - name: Build the image
      run: bash .github/scripts/build.bash
