name: Publish

on:
  release:
      types: [published]
  push:
    branches:
      - develop
      - update

env:
  GHCR_PAT: ${{ secrets.GHCR_PAT }}
  IMAGENAME: ${{ github.event.repository.name }}
  OWNER: ${{ github.repository_owner }}
  REPOSITORY: ${{ github.repository }}
  USERNAME: ${{ github.actor }}

jobs:
  Publish:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout the repository
      uses: actions/checkout@master
    - name: Determine whether to upload a release version
      run: bash .github/scripts/version.bash
    - name: Publish to GHCR
      run: bash .github/scripts/publish.bash
